@media screen and (max-width: 1100px){
    .main-container{
        max-width: 800px;
    }
    .header-container{
        grid-template-columns: 1fr 3fr 1fr;
    }
    .banner-latest{
        width: 170px; 
    }
    .banner-content-header {
        font-size: 25px;
        width: 300px;
    }
    .banner-bottom-text{
        bottom: 15px;
        left: 15px;
        font-size: 16px;
    }
    .block-section-header1,.block-section-header2{
		font-size: 22px;
	}
	.intro-header{
		font-size: 22px;
	}
	.intro-text{
		font-size: 16px;
	}
	.tuter-text{
		font-size: 16px;
	}
	.tuter-header{
		font-size: 20px;
	}	
		
}	
@media screen and (max-width: 800px){
    .hamburger-menu{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .menu-bar-icon{
        font-size: 22px;
    }
    .header-nav, .header-social-media{
        display: none;   /*  невидимые два блока при  ширине меньше 800) */
    }
    .header-container{
        grid-template-columns: 1fr 11fr; /*  меняем грид-сетку для мобильной версии) */
        padding: 40px 0;
    }
    .banner-latest{
        width: 160px; 
    }
    .banner-content-header {
        font-size: 20px;
        width: 250px;
    }
    
    .blog-img-desc{
        width: 100px;
        height: 90px;
        font-size: 20px;
    }
    .blog-desc-container{
        margin-top: 70px;
        font-size: 14px;
    }
    .blog-img-desc-container{
        bottom: -45px;
    }
	.process-content{
		padding-left: 10px;
		display: grid;
	
		grid-template-areas: "a1"
		"a2"
		"a3"
		"a4"
		"a5"
		"a6";
	}
	.blog-content{
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
	}
	.intro{
		display: grid;
		grid-template-columns: none;
		grid-template-rows: 1fr 4fr;
		padding: 0px 32px;
		align-items:start;
		justify-content: center;
	}
}
	
	
	.block-section-header1,.block-section-header2{
		font-size: 20px;
	}
	.intro-header{
		font-size: 20px;
		text-align:center;
		margin: 0px;
	}
	.intro-text{
		font-size: 14px;
	}
	.tuter-text{
		font-size: 14px;
	}
	.tuter-header{
		font-size: 18px;
	}
	.tuter-img{
	width: 80%;	
}
}


@media screen and (max-width: 700px){
    .banner-content-header {
        font-size: 18px;
        width: 220px;
    }
    .banner-latest{
        width: 120px; 
    }
    .banner-bottom-text{
        font-size: 13px;
    }
    .intro{
        grid-template-columns: 1fr;
        padding: 0px;
    }
    .block-section-header1,.block-section-header2{
		font-size: 18px;
	}
	intro-header{
		font-size: 18px;
	}
	
}
@media screen and (max-width: 600px){
    .header-container{
        grid-template-columns: 1fr 5fr;
        padding: 30px 0;
    }
    .banner{
        grid-template-columns: 1fr;
        align-items: end;
    }
    
    .banner-content-header{
        width: 100%;
        margin-top: 30px;
    }
    .banner-latest{
        width: 100%;
    }
    .banner-bottom-text{
        bottom: 20px;
        left: 25px;
        font-size: 28px;
    }
    .subscribe-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscribe-btn{
        margin-top: 20px;
        width: 60%;
        padding: 10px 5px;
        letter-spacing: normal;
        font-size: 13px;
    }
    .subscribe-header{
        font-size: 26px;
    }
    .subscribe-input{
        height: 40px;
    }
    .subscribe-phone{
        width: 220px;
    }
    .blog{
        grid-template-columns: 1fr;
    }
    .blog-img-desc{
        width: 140px;
        height: 120px;
        font-size: 24px;
    }
    .blog-desc-container{
        margin-top: 70px;
        font-size: 14px;
    }
    .blog-img-desc-container{
        bottom: -60px;
    }
